

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.company-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}

.contact-info {
  font-style: normal;
}

.contact-info_item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-info_item:hover,
.contact-info_item:focus {
  color: #404bbf;
}

.main-section {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.main-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.feature-title,
.team-title,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-desc,
.team-desc,
.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}

.secondary-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-card {
  background-color: #ffffff;
}

.footer {
  background-color: #2e2f42;
}

.footer-appeal {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

 .footer-logo {
    color:#f4f4fd;
}

li {
  list-style-type: none;
}